<!doctype html>
<html class="no-js" lang="{{ page.seoLang }}">
	<head>
		{% include "includes/head.twig" %}
		{% include basekit.headScript %}
	</head>
	<body {{ isV10sSite ? 'id="migrated-site"' : '' }} class="{{ page.backgroundClass }} {{ site.colorSwatch }}">
		<div class="site_wrapper">
			<div class="site_layout">
				<div class="nav_section">
					{% include "includes/header.twig" %}
				</div>

				<div class="content_section">
					{% block content %}
					{% endblock %}
				</div>
			</div>
			{% include "includes/footer.twig" %}
		</div>
		{% include basekit.bodyScript %}

		<script>
			$(function() {
				$('.pull').click(function() {
					$('.nav_section').toggleClass('navOpen');
				});
			});
		</script>
	</body>
</html>